
.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    padding: 1em;
/*    display: flex;  /*flex弹性布局*/
    /*align-items: center;  /*居中*/
    background-color: #fff;
    z-index: 1;
}


.nav-wrapper {
    width: 100%;
    display: flex;  /*flex弹性布局*/
    align-items: center;  /* 居中 */
    justify-content: space-between;  /* 项目在主轴上的对齐方式 */
    margin: 0 auto;
}


.nav-logo {
    width:70px;
    height: 40px;
}

 .buttons {
    font-size: 16px;
} 

.dir-btn {
    padding: 0.5em 1.5em;
    color: '#6CC0E5';
    border: 1px solid #90455A;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}

.dir-btn.login{
    margin-right: 2em;
}

.dir-btn:hover {
    color: white;
    background-color: #90455A;
    cursor: pointer;
}

.form {
  /*Flex弹性布局:用来为盒状模型提供最大的灵活性*/
    display: flex;
    display: -webkit-flex;/* Safari */ 
    align-items: flex-start;/*项目在交叉轴中居中对齐*/
    justify-content: center;/*项目在主轴上的居中方式*/
    height: 100%;
    width: 100%;
}

.form-wrapper {
    position: absolute;
    top: 80px;
    overflow: hidden;
    max-width: 375px;/*表单最大宽度*/
    width: 100%;
    border: 1px solid rgba(0, 0, 0,0.30);
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.form-header {
    text-align: center;
    font-size: 1em;
}

.form-heading {
    padding: 1em;
}

.field-wrapper {
    width: 100%;
    position: relative;
    padding-top: 1.0em;
    border-top: 1px solid rgba(0,0,0,0.30);
    background-color: #fff;
}

/*.field-wrapper + .field-wrapper {
  border-top: none;
}

.field-input:focus ~ .field-label {
  color: $dark-grey;
  background-color: rgba(0,0,0,0.30);
}*/
.field-input  {
      position: relative;
      padding: 1.625em 16px;
      line-height: 16px;/*input行高*/
      width: 91.55%;
      color: rgba(0,0,0,1.0);
      border: none;
      outline: 0; /*输入框轮廓样式*/
      letter-spacing: 0.05em; /*输入字距样式*/
}

/*focus样式*/
.field-input:focus {
      background-color: rgba(0,0,0,0.25);
      color: rgba(0,0,0,1.0);
}

.field-label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 16px;
      padding-top: 20px;
      padding-bottom: 0px;
      margin: 0;
      z-index: 1;
      font-size: .8em;
      color: rgba(0,0,0,0.80);
      font-weight: 400;
      user-select: none;
      cursor: text;
}


/*验证码输入框样式*/
.field-input.verify{
    width:50%;
    display: block;
    border:none;
    float: left;
    margin-right: 20px;
}

.verify-code{
    width: 40px;
    height: 80px;
}

.submit-btn-wrapper {
    padding: 2em 1em;
    margin: auto;
    width: 80%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.submit-btn {
    width: 80%;
    background-color: #90455A;
    border: 1px solid rgba(0,0,0,0);
    padding: 0.5em 1em;
    border-radius: 3px;
    color: white;
    display: block;
    margin: 0 auto;
}