@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?hgtwcb');
	src:  url('../fonts/icomoon.eot?hgtwcb#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?hgtwcb') format('truetype'),
	url('../fonts/icomoon.woff?hgtwcb') format('woff'),
	url('../fonts/icomoon.svg?hgtwcb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering ==== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*main css*/
#header {
	padding-top: 10px;
	height: 120px;
	background: #fff;
	/*border-bottom:0 0 2px rgba(0,0,0,.5);*/
}
.top-container {
	position: relative;
	width: auto;
	padding-right: 20px;
	height: 60px;
	z-index: 1000;
}

/* nav module */
.logo{
	margin: 0 20px;
	height: 80px;
	width: 200px;
	float: left;
}
.logo, .nav-item li{
	float: left;
	list-style: none;
}

.nav-item a{
	display: block;
	text-decoration: none;
	padding: 0 20px;
	color: #07111b;
	font-size: 16px;
	height: 60px;
	line-height: 60px;
}


/* notice and personal module */

.login-area{
	float: right;
	position: relative;

}

/*ul.logined中li元素为浮动元素，需要清除浮动*/
.clearfix:after{
	content: " ";
	display: block; /*加入的该元素为block元素*/
	clear: both;/*清除左右两边浮动*/
	height:0;/*高度为0*/
	visibility: hidden;
}
/*针对IE6的清除浮动样式*/
.clearfix {*zoom:1;}

.logined{
	margin:0;
}
/*查找logined下的li节点*/
.logined>li{
	float: left;
	position: relative;
	list-style: none;
	padding:10px 0;
}

.logined li>a{
	padding: 0;
	height: 60px;
	line-height: 60px;
	width: 60px;
	color: #787d82;
	text-align: center;
	text-decoration: none;
}
.remind-wrap,.my-wrap{
	height: 60px;
	width: 60px;
}

/* 通知提示css */
.msg-remind{
	display: none;
	position: absolute;
	width: 8px;
	height: 8px;
	background--color:#f01414;
	right: 14px;
	top: 14px;
	border-radius: 50%;
}

.icon-remind,.icon-my,.icon-search {
	text-align: center;
	display: block;
	font-size: 25px;
	line-height: 45px;
	cursor: pointer;
}
.icon-my:before {
	content: "\e903";
	color: #707070;
}
.icon-remind:before {
	content: "\e904";
	color: #707070;
}


/* search moudle*/
.search-wrap{
	position: relative;
	float: right;
	margin-right: 18px;
}
.searchTag{
	position: absolute;
	z-index: 100;
	left: 5px;
	top: 20px;
}
.searchTag a{
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
	margin-right: 3px;
	background-color: rgba(144, 69, 90, 0.62);
	padding:5px 8px;
	font-size: 14px;
}
.search-form{
	float: right;
	border: 1px solid #d9dde1;
	position: relative;
	height: 38px;
	width: 210px;
	margin:10px 0;
	padding-right: 30px;
}

.search-input{
	color: #71777d;
	background: transparent!important;
	width: 100%;
	height: 38px;
	padding:5px 10px;
	line-height: 12px;
	float: left;
	border: 0;
	/*为元素设定的宽度和高度决定了它的边框盒*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;

}
.search-input-button {
	display: none;
}

.showhide-search{
	width: 30px;
	height: 60px;
	line-height: 60px;
	text-align: right;
	position: absolute;
	display: inline-block;
	right: 5px;
	top: 0;
}

.showhide-search a{
	text-decoration: none;
}
.search-input-button{
	display: none;
}
.icon-search:before {
	content: "\e902";
	color: #707070;
}

.search-area-result{
	position: absolute;
	left: 0;
	top: 41px;
	padding:5px;
	margin-bottom: 20px;
	min-width: 210px;/*搜索框宽-搜索按钮*/
	border: 1px solid #d3d3d3;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0,0,0,.35);
	font-size: 12px;
	display: none;
	cursor: pointer;
	overflow: hidden;
	z-index: 1000;
}

.search-area-result li{
	display: block;
	color: #71777d;
	font-size: 14px;
	padding: 10px 5px;
}

.search-area-result li:hover{
	background: #e5e5e5;
	cursor: pointer;
}

/* nav css */
.mainer{
	z-index: 1000;
	height: 40px;
	background-color: #AF717D;
}

.middle-container{
	position: relative;
	width: auto;
	margin:0 40px;
}

.main-nav>li{
	position: relative;
	display: block;
	list-style: none;
	float: left;
	margin-right: 30px;
	background-color: rgba(0, 0, 0, 0.05);
}
/*.main-nav li:hover{
	color: #434a50;
	background-color:rgba(144, 69, 90, 0.55);
}*/
/*.main-nav .m-nav-item li:hover{
	color: #;
	background-color:rgba(144, 69, 90, 0.55);
}*/
.m-nav-item:hover{
	color: #707070;
	background-color: #d0878a;
}

.main-nav>li a{
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;

}

/*sub-nav css */
.sub-nav{
	display: none; /*二级菜单栏原始状态隐藏*/
	width: 420px;
	position: absolute;
	border: 1px #a10f13 solid;
	left: 0px;
	top: 40px;
	padding: 0 0 10px 0;
	overflow: hidden;
	font-size:14px;
	background-color: rgba(0, 0, 0, .7);

	/*background-color:rgba(195, 195, 195, 0)*/
}

.m-nav-item:hover .sub-nav{   /*滑过一级菜单栏的时候二级菜单栏显示*/
	display: block;
	z-index: 3;
}

.sub-nav ul{
	/*	border: 1px #a10f13 solid;*/
	padding: 0;
	width: 100%;
}

.sub-nav ul>li {
	list-style: none;
	float: left;
	width: 190px;
}

.sub-nav ul li:hover {
	color: #fff;
	background-color:rgba(144, 69, 90, 0.55);
}

.sub-nav ul>li a{
	color: #fff;
	display: block;
	height: 100%;
	padding:5px 10px;

}

.more-li {
	position: absolute;
	right: 0px;
	bottom: -10px;
}



/* main-css */
#main{
	display: block;
	padding:20px 0;
	/*min-height: 900px;*/
}
/*轮播图模块样式*/
.imgBox{
	position: relative;
	height: 400px;
	width: 1200px;
	margin: auto;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
	border-radius: 4px;
	/*	z-index: -1000;*/
}

.banner {
	width: 1200px;
	height: 400px;
	overflow: hidden;
}
/*轮播图图片数组样式*/
.img-list {
	width: 1200px;
	height: 400px;
	z-index: 10;
	padding:0;
	margin: 0;
}

.img-list>li{
	display: none;
}
.img-list .imgOn{
	display: inline;
}
/*图片文字描述背景蒙版*/
.text-bg{
	position: absolute;
	bottom: 0;
	width: 1200px;
	height: 100px;
	z-index: 20;
	opacity: 0.4;
	/*filter: alpha((opacity=40));*/
	background-color: black;
}
/*文字描述数组样式*/
.info-list{
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	bottom: 0;
	z-index: 30;
	width: 1200px;
	height: 100px;
	overflow: hidden;
}
.info-list li{
	float: left;
	width: 1200px;
	height: 100px;
	font-size: 45px;
	padding-top: 10px;
	color: white;
	text-decoration: none;
	display: none;  
}

.info-list .infoOn{
	display: inline;
}
/*圆点图标数组样式*/
.index-list{
	position: absolute;
	margin: 0 550px;
	z-index: 20;
	bottom:20px;
	width: 100px;
	height: 10px;
	text-align: center;
}
/*原点分页样式 */
.index-list span{
	display: inline-block;
	width: 10px;
	height: 10px;
	line-height:10px;
	border-radius: 50%;
	color: white;
	background-color: #808080;
	z-index: 1111;
}
.index-list .indexOn{
	color: white;
	background-color: #ffffff;
	cursor: pointer;
}
/*向左 向右箭头样式*/
.arrow{
	font-size: 36px;
	font-weight: bold;
	line-height: 39px;

	position: absolute;
	z-index: 2;
	top: 135px;

	display: none;

	width: 40px;
	height: 40px;

	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: RGBA(0, 0, 0, .3);
}

.arrow:hover{
	background-color: RGBA(0, 0, 0, .7);
}
.imgBox:hover .arrow{
	display: block;
}

#prev{
	left: 20px;
}

#next{
	right: 20px;
}


/* recommend-css */

.recomBox{
	position: relative;
	width: 1200px;
	height: 212px;
	margin: 20px auto;
	overflow: hidden;
	background-color: #ffffff;
	/*	box-shadow: 0 1px 1px 0 rgba(7,17,27,.1);*/
	border-radius: 4px;
}
.title-list{
	height: auto;
}
.more-title{
	float: right;
	font-size: 14px;
}
.change{
	cursor: pointer;
}

.icon-refresh:before {
	content: "\e901";
	color: #707070;
}

#class-list{
	padding-bottom: 30px;
}

.re-video-item{
	position: relative;
	display: block;
	float: left;
	width: 180px;
	height: 147px;
	margin-bottom: 21px;
	margin-left: 24px;
	overflow: hidden;
	text-decoration: none;
}


.re-video-item:first-child{
	margin-left: 0;
}

.re-vioImg{
	position: relative; /*  图片相对与vioImg span放大 */
	display: block;
	box-sizing: border-box;
	border:1px solid rgba(0,0,0,0.1);
	overflow: hidden;
}
.re-vioImg img{
	width: 180px;
	height: 100px;
	display: block;
	cursor: pointer;
	transition: .5s cubic-bezier(0,0.6,0.3,1);
	z-index: -999;
}
/*.vioImg img:hover{
	transform: scale(1.2);
	overflow: hidden;
	border:1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
}*/

.re-video-item:hover img{
	transform: scale(1.2);
}
.re-video-item:hover .vioTitle{
	color: rgb(152, 84, 98);
}

.re-vioTitle{
	display: block;
	color: #2b2b2b;
	margin-top: 5px;
	font-size: 14px;
	line-height: 14px;
	overflow: hidden;
	white-space: normal;
	z-index: 100;
}

/*课程模块样式*/
.typeBox{
	position: relative;
	width: 1200px;
	margin:50px auto 30px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.type-content{
	margin:0;
	padding:0;
}
/*课程模块--左侧边栏*/
.type-content-left{
	position: relative;
	float: left;
	padding: 80px 20px;
	height: 250px;
	width: 150px;
	box-sizing: border-box;
	border-radius:4px;
	margin-right: 20px;
}
/*学习路径--不同课程颜色不同样式*/
.type-content-left.fd{
	background-color: rgb(152, 84, 98);
}
.type-content-left.qj{
	background-color: #7E919B;
}
.type-content-left.hdr{
	background-color: #8F5536;
}
.type-content-left.cj{
	background-color: #748341;
}

/*课程学习路径--描述*/
.path-title{
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;

}

/*课程学习路径--了解更多*/
.path-more{
	color: #ffffff;
	font-size: 14px;
	line-height: 12px;
	position: absolute;
	bottom: 15px;
	right: 10px;
	text-decoration: none;
}

/*课程模块--左侧边栏*/
.course-list{
	float: left;
	width:1030px;
	padding: 0;
	margin: 0;
}
/* 观众人数样式*/
.viewCount{
	position: absolute;
/*	bottom: -50px;*/ /*相对于大图图片向下50px*/
	display: block;
	font-size: 12px;
	margin-top: 8px;
	padding-left: 18px;
	background: url(../img/viewCountIcon.png) no-repeat 2px center;
}

/* 子课程模块样式 */
.video-item{
	position: relative;
	display: block;
	float: left;
	width: 231px;
	height: 250px;
	margin-bottom: 21px;
	margin-left: 24px;
	overflow: hidden;
	text-decoration: none;
	border:1px solid #fff;
	border-radius: 5px;
}

/* 子课程模块--图片样式*/
.vioImg img{
	width: 230px;
	height: 210px;
/*	width: 100%;
	height: 80%;*/
	display: block;
	cursor: pointer;
	transition: .5s cubic-bezier(0,0.6,0.3,1);
	z-index: -999;
}

/* 子课程模块--标题样式*/
.vioTitle{
	display: block;
	color: #2b2b2b;
	margin-top: 5px;
	font-size: 14px;
	line-height: 14px;
	overflow: hidden;
	white-space: normal;
	z-index: 100;
}

/* 子课程模块--播放icon样式*/
.vioCover i{
	position: absolute;
	top: 40%;
	left: 40%;
	text-align: center;
	display: none;
	font-size: 30px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
}

/*子模块:hover 添加图片透明蒙板*/
.video-item:hover .vioCover{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 233px;
	height: 210px;
	border: 1px solid #ffffff;
	background: rgba(0, 0, 0, 0.85);
}
/*子模块:hover 添加icon图标样式*/
.video-item:hover i{
	display: block;
}
/*:hover 课程名称颜色改变*/
.video-item:hover .vioTitle{
	color: #90455a;
}
/*icon--播放*/
.icon-play:before {
	content: "\e900";
	color: #707070;
}
/* 更多课程模块 */
.more{
	width: 1200px;
	height: 20px;
	padding: 20px 0;
	margin: 0 auto;
}
.load-more{
	display: block;
	/*	padding: 0px;*/
	color: #2b2b2b;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}


#footer{
	background-color: #AF717D;
}
.foot-container{
	width: 1200px;
	padding: 0;
	margin: 0 auto;
	/*	height: 80px;*/
}
.footer-link{
	padding: 10px 0;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #d0d6d9;
}
.footer-link a{
	text-decoration: none;
	color: #d0d6d9;
	font-size: 14px;
}
.footer-copyright{
	padding: 5px 0 10px;
	text-align: center;
	color: #b4bbbf;
	font-size: 12px;
	line-height: 14px;
}