@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?hgtwcb');
	src:  url('../fonts/icomoon.eot?hgtwcb#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?hgtwcb') format('truetype'),
	url('../fonts/icomoon.woff?hgtwcb') format('woff'),
	url('../fonts/icomoon.svg?hgtwcb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering ==== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*body{
	width: 12.8rem;
	margin: auto;
}*/
/*main css*/
#header {
	padding-top: 0.1rem;
	height: 1.2rem;
	background: #fff;
	/*border-bottom:0 0 2px rgba(0,0,0,.5);*/
}
.top-container {
	position: relative;
	width: auto;
	padding-right: 0.2rem;
	height: 0.6rem;
	z-index: 1000;
}

/* nav module */
/*div.logo样式*/
.logo{
	margin: 0 0.5rem;
	height: 0.6rem;
	width: 1.4rem;
	float: left;
}
/*a.logo样式*/
.hide-text{
	display: block;
	/*width: 2.0rem;*/
	height:0.6rem;
	padding: 0;
	margin: 0;
}
/*img.log样式*/
.logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.nav-item{
	   display: inline-block;
	    margin: 0;
	    padding: 0;
	    float: left;
}
.logo, .nav-item li{
	float: left;
	list-style: none;
}

.nav-item a{
	display: block;
	text-decoration: none;
	padding: 0 0.2rem;
	color: #07111b;
	font-size: 0.16rem;
	height: 0.6rem;
	line-height: 0.6rem;
}


/* notice and personal module */

.login-area{
	float: right;
	position: relative;
             height: 100%;
}

/*ul.logined中li元素为浮动元素，需要清除浮动*/
.clearfix:after{
	content: " ";
	display: block; /*加入的该元素为block元素*/
	clear: both;/*清除左右两边浮动*/
	height:0;/*高度为0*/
	visibility: hidden;
}
/*针对IE6的清除浮动样式*/
.clearfix {*zoom:1;}

.logined{
	margin:0;
	padding: 0;
	height: 100%;
}
/*查找logined下的li节点*/
.logined>li{
	float: left;
	position: relative;
	list-style: none;
	padding:0.1rem 0;
}

.logined li>a{
	padding: 0;
	height: 0.6rem;
	line-height: 0.6rem;
	width: 0.6rem;
	color: #787d82;
	text-align: center;
	text-decoration: none;
}
.remind-wrap,.my-wrap{
/*	height: 0.6rem;*/
	width: 0.6rem;
}

/* 通知提示css */
.msg-remind{
	display: none;
	position: absolute;
	width: 0.08rem;
	height: 0.08rem;
	background--color:#f01414;
	right: 0.14rem;
	top: 0.14rem;
	border-radius: 50%;
}

.icon-remind,.icon-my,.icon-search {
	text-align: center;
	display: block;
	font-size: 0.25rem;
	line-height: 0.45rem;
	cursor: pointer;
}
.icon-my:before {
	content: "\e903";
	color: #707070;
}
.icon-remind:before {
	content: "\e904";
	color: #707070;
}

/* search moudle*/
.search-wrap{
	position: relative;
	float: right;
	margin-right: 0.18rem;
}
.searchTag{
	position: absolute;
	z-index: 100;
	left: 0.05rem;
	top: 0.2rem;
	overflow: hidden;
	line-height: 0.14rem;
}
.searchTag a{
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
	margin-right: 0.03rem;
	background-color: rgba(144, 69, 90, 0.62);
	padding:0.05rem 0.08rem;
	font-size: 0.14rem;
	line-height: 0.14rem;
	/*overflow: hidden;*/
}
.search-form{
	float: right;
	border: 0.01rem solid #d9dde1;
	position: relative;
	height: 0.38rem;
	width: 2.1rem;
	margin:0.1rem 0;
	padding-right: 0.3rem;
}

.search-input{
	color: #71777d;
	background: transparent!important;
	width: 100%;
	height: 0.38rem;
	padding:0.05rem 0.1rem;
	line-height: 0.12rem;
	float: left;
	border: 0;
            font-size: 0.14rem;
	/*为元素设定的宽度和高度决定了它的边框盒*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;

}
.search-input-button {
	display: none;
}

.showhide-search{
	width: 0.3rem
	height: 0.5rem
	line-height: 0.6rem;
	text-align: right;
	position: absolute;
	display: inline-block;
	right: 0.05rem
	top: 0;
}

.showhide-search a{
	text-decoration: none;
}
.search-input-button{
	display: none;
}
.icon-search:before {
	content: "\e902";
	color: #707070;
}

#search-area-result{
	position: absolute;
	left: 0;
	top: 0.41rem;
	padding:0.05rem;
	margin-bottom: 0.2rem;
	min-width: 2.1rem;/*搜索框宽-搜索按钮*/
	border: 0.01rem solid #d3d3d3;
	background-color: #fff;
	box-shadow: 0 0.04rem 0.08rem rgba(0,0,0,.35);
	font-size: 0.12rem;
	display: none;
	cursor: pointer;
	overflow: hidden;
	z-index: 1000;
}

#search-area-result li{
	display: block;
	color: #71777d;
	font-size: 0.14rem;
	padding: 0.1rem 0.05rem;
}
#search-area-result>li a{
	text-decoration: none;
	color: #71777d;	
}

#search-area-result li:hover{
	background: #e5e5e5;
	cursor: pointer;
}

/* nav css */
/*菜单栏样式*/
/*1、判断在不同的分辨率的设备下searchTag是否存在
   2、在不同的设备下设置菜单栏的高度*/

@media screen and (min-width:239px) and (max-width:321px){
    .searchTag{display:none}
    /*二级菜单栏的大小及选项间的样式*/
    .sub-nav {
    	width: 8rem;
    }
    .sub-nav ul > li {
            padding: 0.5rem;
    }
}

@media screen and (min-width:321px) and (max-width:768px){
    .searchTag{display:none}
    .sub-nav {
    	width: 6.5rem;
    }
    .sub-nav ul > li {
            padding: 0.2rem;
    }
}

@media screen and (min-width:768px){
     .searchTag{display:block}
     .sub-nav {
    	width: 4.5rem;
    }
    .sub-nav ul > li {
            padding: 0.1rem;
    }
    .re-video-item{
    	width: 14.74%;
    }
}
.mainer{
	margin:0.2rem 0;
	z-index: 1000;
	height: 30%;
	background-color: #AF717D;
	float: left;
	width: 100%;
}
/*菜单栏的位置*/
.middle-container{
	display: inline-block;
	position: relative;
	width: auto;
	padding: 0.1rem;
	margin:0 0.4rem;
	float: left;
	/*margin: 0.05rem 0.5rem 0.05rem 2.3rem;*/
	margin-left: 2.3rem;
}

/*菜单栏--虹软技术样式*/
.main-nav{
	margin: 0;
}
.main-nav>li{
	/*position: relative;*/
	/*display: block;*/
	list-style: none;
	float: left;
	margin-right: 0.3rem;
	background-color: rgba(0, 0, 0, 0.05);
	line-height: 0.16rem;

}
/*.main-nav li:hover{
	color: #434a50;
	background-color:rgba(144, 69, 90, 0.55);
}*/
/*.main-nav .m-nav-item li:hover{
	color: #;
	background-color:rgba(144, 69, 90, 0.55);
}*/
.m-nav-item:hover{
	color: #707070;
	background-color: #d0878a;
}

.main-nav>li a{
	color: #fff;
	height: 0.16rem;
	line-height: 0.16rem;
	font-size: 0.16rem;
	float: left;
	text-align: center;
	text-decoration: none;

}
/*二级菜单栏样式*/
/*sub-nav css */
.sub-nav{
	display: none; /*二级菜单栏原始状态隐藏*/
	/*width: 4.2rem;*/
	position: absolute;
	border: 0.01rem #af717d solid;
	left: 0.0rem;
	top: 0.4rem;
	padding: 0 0 0.3rem 0;
	overflow: hidden;
	font-size:0.14rem;
	background-color: rgba(0, 0, 0, .7);
             /*z-index: 111111;*/

	/*background-color:rgba(195, 195, 195, 0)*/
}

.m-nav-item:hover .sub-nav{   /*滑过一级菜单栏的时候二级菜单栏显示*/
	display: block;
	z-index: 99999;
}

.sub-nav ul{
	/*	border: 1px #a10f13 solid;*/
	padding: 0;
	white-space: nowrap;/*文字强制不换行*/
	width: 100%;
}

.sub-nav ul>li {
	list-style: none;
	float: left;
	width: 40%;
	/*padding: 0.1rem;*/
}

.sub-nav ul li:hover {
	color: #fff;
	background-color:rgba(144, 69, 90, 0.55);
	z-index: 999;
}

.sub-nav ul>li a{
	color: #fff;
	display: block;
	height: 100%;
	padding:0.05rem 0.1rem;

}

.more-li {
	position: absolute;
	right: 0px;
	bottom: 0.2rem;
}



/* main-css */
#main{
	display: block;
	padding:0.2rem 0;
	/*min-height: 900px;*/
}
/*轮播图模块样式*/
.imgBox{
	position: relative;
	height: 4.0rem;
	width: 95%;
	margin: auto;
	background-color: #ffffff;
	box-shadow: 0 0.04rem 0.08rem 0 rgba(7,17,27,.1);
	border-radius: 0.04rem;
		/*z-index: -1000;*/
}

.banner {
	width: 100%;
	height: 4.0rem;
	overflow: hidden;
}
/*轮播图图片数组样式*/
.img-list {
	width: 100%;
	height: 4.0rem;
	z-index: 10;
	padding:0;
	margin: 0;
}

.img-list>li{
	display: none;
}
.img-list img{
	height: 100%;
}
.img-list .imgOn{
	display: inline-block;
	height: 100%;
}
.imgOn img{
	float: left;
	width: 100%;
	height: 100%;
}
/*图片文字描述背景蒙版*/
.text-bg{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.0rem;
	z-index: 20;
	opacity: 0.4;
	/*filter: alpha((opacity=40));*/
	background-color: black;
}
/*文字描述数组样式*/
.info-list{
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	bottom: 0;
	z-index: 30;
	width: 100%;
	height: 1.0rem;
	overflow: hidden;
}
.info-list li{
	float: left;
	width: 100%;
	height: 1.0rem;
	font-size: 0.45rem;
	padding-top: 0.1rem;
	color: white;
	text-decoration: none;
	display: none;  
}

.info-list .infoOn{
	display: inline;
}
/*圆点图标数组样式*/
.index-list{
	position: absolute;
	margin: 0 45%;
	z-index: 20;
	bottom:0.2rem;
	width: 1.0rem;
	height: 0.1rem;
	text-align: center;
}
/*原点分页样式 */
.index-list span{
	display: inline-block;
	float: left;
	margin: 0.035rem;
	width: 0.1rem;
	height: 0.1rem;
	line-height:0.1rem;
	border-radius: 50%;
	color: white;
	background-color: #808080;
	z-index: 1111;
}
.index-list .indexOn{
	color: white;
	background-color: #ffffff;
	cursor: pointer;
}
/*向左 向右箭头样式*/
.arrow{
	font-size: 0.36rem;
	font-weight: bold;
	line-height: 0.39rem;
	position: absolute;
	z-index: 2;
	top: 1.35rem;
	display: none;
	width: 0.4rem
	height: 0.4rem
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: RGBA(0, 0, 0, .3);
}

.arrow:hover{
	background-color: RGBA(0, 0, 0, .7);
}
.imgBox:hover .arrow{
	display: block;
}

#prev{
	left: 0.4rem;
}

#next{
	right: 0.4rem;
}


/* recommend-css */

.recomBox{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0.2rem auto;
	overflow: hidden;
	background-color: #ffffff;
	/*	box-shadow: 0 1px 1px 0 rgba(7,17,27,.1);*/
	border-radius: 0.04rem;
}
.title-list{
	height: auto;
}
.more-title{
	float: right;
            margin: 0 0.4rem 0 0;
	font-size: 0.14rem;
}
.like{
	font-weight: 700;
	font-size: 0.16rem;
	margin: auto;
	width: 95%;
}
.change{
	cursor: pointer;
}

.icon-refresh:before {
	content: "\e901";
	color: #707070;
}

#class-list{
	padding: 0.3rem;
	height: 1.5rem;
}

.re-video-item{
	position: relative;
	display: block;
	float: left;
	width: 14.39%;
	/*height: 100%;*/
	margin-bottom: 0.21rem;
	margin-left: 0.29rem;
	overflow: hidden;
	text-decoration: none;
}


.re-video-item:first-child{
	margin-left: 0;
}

.re-vioImg{
	position: relative; /*  图片相对与vioImg span放大 */
	display: block;
	box-sizing: border-box;
	/*border:0.01rem solid rgba(0,0,0,0.1);*/
	overflow: hidden;
}
.re-vioImg img{
	width: 1.8rem;
	height: 1.0rem;
	display: block;
	cursor: pointer;
	transition: .5s cubic-bezier(0,0.6,0.3,1);
	z-index: -999;
}
/*.vioImg img:hover{
	transform: scale(1.2);
	overflow: hidden;
	border:1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
}*/

.re-video-item:hover img{
	transform: scale(1.2);
}
.re-video-item:hover .vioTitle{
	color: rgb(152, 84, 98);
}

.re-vioTitle{
	display: block;
	color: #2b2b2b;
	margin-top: 0.05rem;
	font-size: 0.14rem;
	/*line-height: 100%;*/
	height: 100%;
	overflow: hidden;
	white-space: normal;
	padding: 0.05rem;
	z-index: 100;
}

/*课程模块样式*/
.typeBox{
	position: relative;
	width: 100%;
	margin:0.1rem auto 0.3rem;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.type-content{
	margin:0;
	padding:0 0.3rem 0.2rem;
}
/*课程模块--左侧边栏*/
.type-content-left{
	position: relative;
	float: left;
	padding: 0.8rem 0.2rem;
	height: 100%;
	width: 15%;
	box-sizing: border-box;
	border-radius:0.04rem;
	/*margin-right: 0.2rem;*/
}
/*学习路径--不同课程颜色不同样式*/
.type-content-left.fd{
	background-color: rgb(152, 84, 98);
}
.type-content-left.qj{
	background-color: #7E919B;
}
.type-content-left.hdr{
	background-color: #8F5536;
}
.type-content-left.cj{
	background-color: #748341;
}

/*课程学习路径--描述*/
.path-title{
	text-align: center;
	color: #ffffff;
	font-size: 0.2rem;
	font-weight: 700;
	line-height: 100%;

}

/*课程学习路径--了解更多*/
.path-more{
	color: #ffffff;
	font-size: 0.14rem;
	line-height: 100%;
	white-space: nowrap;
	position: absolute;
	bottom: 0.15rem;
	right: 0.1rem;
	text-decoration: none;
}

/*课程模块--右侧边栏*/
.type-content-right{
	margin-bottom: 0.3rem;
}
/* 观众人数样式*/
.viewCount{
	position: absolute;
/*	bottom: -50px;*/ /*相对于大图图片向下50px*/
	display: block;
	font-size: 0.12rem;
	margin-top: 0.08rem;
	padding-left: 0.18rem;
	background: url(../img/viewCountIcon.png) no-repeat 0.02rem center;
}

/* 子课程模块样式 */
.video-item{
	position: relative;
	display: block;
	float: left;
	width:18.8%;
	height: 100%;
	margin-bottom: 0.21rem;
	margin-left: 0.24rem;
	overflow: hidden;
	text-decoration: none;
	border:0.01rem solid #fff;
	border-radius: 0.05rem;
}

/* 子课程模块--图片样式*/
.vioImg img{
	width: 2.3rem;
	height: 2.1rem;
/*	width: 100%;
	height: 80%;*/
	display: block;
	cursor: pointer;
	transition: .5s cubic-bezier(0,0.6,0.3,1);
	z-index: -999;
}

/* 子课程模块--标题样式*/
.vioTitle{
	display: block;
	color: #2b2b2b;
	margin-top: 0.05rem;
	font-size: 0.14rem;
	line-height: 100%;
	height:100%;
	overflow: hidden;
	white-space: normal;
	z-index: 100;
}

/* 子课程模块--播放icon样式*/
.vioCover i{
	position: absolute;
	top: 40%;
	left: 40%;
	text-align: center;
	display: none;
	font-size: 0.3rem;
	line-height: 0.3rem;
	cursor: pointer;
	text-align: center;
}

/*子模块:hover 添加图片透明蒙板*/
.video-item:hover .vioCover{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 2.33rem;
	height: 2.1rem;
	border: 0.01rem solid #ffffff;
	background: rgba(0, 0, 0, 0.85);
}
/*子模块:hover 添加icon图标样式*/
.video-item:hover i{
	display: block;
}
/*:hover 课程名称颜色改变*/
.video-item:hover .vioTitle{
	color: #90455a;
}
/*icon--播放*/
.icon-play:before {
	content: "\e900";
	color: #707070;
}
/* 更多课程模块 */
.more{
	width: 100%;
	height: 0.2rem;
	padding: 0.2rem 0;
	margin: 0 auto;
}
.load-more{
	display: block;
	/*	padding: 0px;*/
	color: #2b2b2b;
	font-size: 0.18rem;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}


#footer{
	background-color: #AF717D;
}
.foot-container{
	width: 100%;
	padding: 0;
	margin: 0 auto;
	/*	height: 80px;*/
}
.footer-link{
/*	padding: 10px 0;*/
	margin: 0 auto;
	text-align: center;
	border-bottom: 0.01rem solid #d0d6d9;
}
.footer-link a{
	text-decoration: none;
	color: #d0d6d9;
	font-size: 0.14rem;
}
.footer-copyright{
	padding: 0.05rem 0 0.1rem;
	text-align: center;
	color: #b4bbbf;
	font-size: 0.12rem;
	line-height: 0.14rem;
}